    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
    body {
        margin: 5%;
        font-family: 'Comfortaa', cursive, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #FFE53B;
        background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    
    #divCrypto {
        text-align: center;
    }
    
    #h1Crypto {
        font-size: 10vh;
        margin: 50px 0 50px 0;
    }
    
    #h3Crypto {
        padding-top: 1vh;
        font-size: 20px;
        font-weight: 100;
        margin: 30px 0 30px 0;
    }
    
    #divTop10 {
        padding-top: 1vh;
        font-size: 15px;
        text-align: center;
    }
    
    li {
        list-style-type: none;
    }
    
    #contador {
        margin: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border-style: solid;
        border-radius: 10px;
        border-width: 5px;
        border-width: 100%;
        max-width: 400px;
        border-color: #fcb045;
    }